nav h1{
    background-color: black;
}

body{
    background-color: #dfdfdf;
}

.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-title{
    text-align: center;
    font-size: 3rem;
}

.clear-button{
    display: block;
    margin: auto;
    background-color: #f03225;
}

.clear-button:hover{
    background-color: #c5281c;
}

.product-item{
    background-color: #97d2e9;
    margin: 1rem;
    padding: 0.5rem 1rem;
    width: 90vw;
    
}

.product-title{
    font-weight: bolder;
    margin: 0.5rem 0;
}

.product-price, .product-amount{
    margin: 0;
}

.remove-button{
    margin: 0.5rem 0;
    background-color: #d6c424;
}

.quantity-tag{
    font-weight: bolder;
}

.subtotal{
    font-size: 1.3rem;
    margin: 0.5rem 0;
    text-decoration: underline;
}

.purchase-button, .see-ticket-button{
    display: block;
    margin: 1rem auto;
}
