.login-title{
    text-align: center;
    color: #444;
    font-size: 3rem;
}

.login-form{
    text-align: center;
    
}

.link-register{
    margin: 2rem;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.link-github{
    margin: 2rem;
    display: block;
    text-align: center;
}
