.error-message{
    color: #f00;
    padding: 1rem;
    margin: 1rem;
    color: #f00;
    border: 1px solid #f00;    
    width: fit-content;
}

.success-message{
    color: rgb(10, 99, 10);
    padding: 1rem;
    margin: 1rem;
    color: rgb(2, 48, 12);
    border: 1px solid rgb(1, 36, 19);    
    width: fit-content;
}