nav h1{
    background-color: black;
}

.error-message{
    color: #f00;
    padding: 1rem;
    margin: 1rem;
    color: #f00;
    border: 1px solid #f00;    
    width: fit-content;
}

.success-message{
    color: rgb(10, 99, 10);
    padding: 1rem;
    margin: 1rem;
    color: rgb(7, 121, 32);
    border: 1px solid rgb(15, 105, 62);    
    width: fit-content;
}