.users-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 20%;
}

h2{
    text-align: center;
    font-size: 2rem;
}

.users-table{
    background-color: #ccc;
    margin-top: 5rem;
}

.header{
    padding: 0.3rem 2rem;
    min-width: 8rem;
}

tr{
    height: 4rem;
}

td{
    padding: 0.8rem 1rem;
    background-color: #aaa;
}

.profile-container{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}