<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/css/{{style}}">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        
        <h1>E-commerce</h1>
        <ul id="nav-mobile">
            <li><a href="/products">Home-products</a></li>
            <li><a href="api/chat">Chat</a></li>
            {{#if user}}
            <li><button id="logout-button">Logout</button></li>
            {{/if}}
        </ul>
        </div>
    </nav>
    {{{body}}}   

     <script src="statics/js/main.js"></script>
</body>
</html>